* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
   
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    height: 40%;
    border-bottom: solid 1px;
}
#check, #icone{
    display: none;
    visibility: hidden;
}
.ul_header {
    display: flex;
    padding: 0.6%;
    margin-left: 60%;

}

.h5-name {
    padding-top: 1%;
    font-size: 30px;
    margin-left: 5%;
    margin-bottom: -3%;

}

.li-header {
    margin-left: 3%;
    margin-right: 2%;
    font-size: 13px;
    border: solid 1px;
    border-radius: 8px;
    padding: 1%;
    margin-bottom: 2%;
    color: aliceblue;


}

.a_li:hover {
    text-decoration-line: underline;
    color: chocolate;

}

.a_li {
    text-decoration: none;
    color: black;
}

.sbm-div {
    display: flex;
    width: 100%;
    height: 400px;


}

#img-me {
    /* border-radius: 50%; */
    width: 200px;
    height: 200px;
    margin-left: 5%;
    margin-top: 3%;
}

.sbm-text {
    box-sizing: border-box;
    width: 25%;
    margin-left: 4%;
    color: rgb(206, 194, 194);
    font-size: 17px;
    margin-right: 5%;
    margin-top: 4%

}

#sbm-text {
    font-size: 28px;

}

.info-div,
.compet-div,
.skills-div {
    width: 20%;
    color: rgb(211, 211, 211);
    font-size: 15px;
    padding-bottom: 3%;
    margin-right: 2%;
    margin-top: 4%;

}

.skills-div {
    margin-left: 4%;
}


h4 {
    color: rgb(121, 115, 111);
    
    margin-top: 2%;
    margin-bottom:2%;


}

h4:hover {
    color: rgb(105, 92, 83);
    font-size: larger;
}

.sbm_h1 {

    color: rgb(65, 65, 65);
    font-size: 35px;
    letter-spacing: 2px;
    text-align: left;
    padding: 3%;
    background-color: rgb(255, 255, 255);
}

.info-div {

    display: flexbox;
}

.port-name{
    margin-top: 3%;
   
}
.port-div{
    border-top: solid 1px;
    width: 20%;
    margin-left: 40%;
    margin-top: -2%;
    margin-bottom: 2%;
}

.container-2{
    width: 250px;
    display: inline-block;
    width: 100%;
}
.div-container{
    width: 50%;
    margin-left: 3%;
    margin-right: 5%;
}
.h4_ed {
    color: rgb(50, 54, 56);
    font-size: 15px;
    margin-left: 15%;
    margin-top: 5%;
    padding-bottom: 3%;
}

.li-ed {
    display: grid;
    color: rgb(44, 48, 51);
    font-size: 15px;
    margin-left: 15%;
    margin-top: 1%;
}

.fab {
    color: rgb(44, 48, 51);
    font-size: 20px;
    margin-left: 28%;
}

.fab:hover {
    color: rgb(5, 3, 0);
    font-size: 30px;
}

.link_ic {
    color: rgb(44, 48, 51);
    margin-left: -13%;
}

.img-Projeto1 {
    border-radius: 5px;
    box-shadow: 10%;
    margin-left: 1%;
    margin-top: 5%;
    box-shadow: 5px 5px 5px 8px rgb(196, 193, 193);

}
.a-landing{
    margin-left:-51%;
    margin-top: 30%;
    color: rgb(236, 228, 228);
    font-size: 14px;
    text-decoration: none; 
    width: 23%;
    height: 10%;
    background-color: rgb(255, 50, 50);
    border-radius: 10px;
    text-align: center;
    padding-top: 1%;   
    
}
.a-landing:hover{
    text-decoration: underline;
}
.div_portfolio{
    display: flex;
    margin-left: 8%;
    
}

.img_portfolio {
    display: inline-flex;
    width: 50%;
    
}


.li_port1 {
    display: block;
}

h2 {
    color: rgb(44, 48, 51);
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3%;
}

#links {
    color: rgb(44, 48, 51);
    font-size: 15px;
    padding: 2%;
    margin-top: 5%;
    text-align: left;
    margin-left: 13%
}

.contact {
    display: block;
    width: 100%;
    color: rgb(44, 48, 51);
}

.cnt {
    margin-left: 10.5%;
    margin-right: 50%;

}
#cnt{
    margin-left: -25%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-size: 15px;
}

.sbm {
    background-image: url(./imagens/back.png);
}
.footer {

    background-color: rgb(29, 26, 26);
    width: 100%;
    padding: 3%;
    text-align: center;
    color: rgb(185, 193, 199);
    font-size: 13px;
}
















@media (max-width:1000px){
    .h5-name, .ul_header, .text, .sbm-text{
        width: 100%;
        margin-bottom: 3%;
    }
    .ul_header{
        margin-left: 1%;
        margin-top: 2%;
    }
    #img-me{
        transform: translate(154%, -9%);
        box-shadow: white;
        border-radius: 5px;
       
        
    }
    .sbm-div{
        display:inline-block;
        height: max-content;
        width: 100%;
        background-color: rgb(24, 22, 22);
        
    }
    .link_ic{
       color: rgb(192, 154, 104);
    }
    .a-landing{
        margin-left: -45%;
        font-size: 13px;
    }
    .info-div, .compet-div, .skills-div{
        width: 100%;
        display: inline-block;
        margin-left: 5%;
        margin-top: 5%;
        height: max-content;
    }
   #icone{
       visibility: visible;
       display: inherit;
       cursor: pointer;
       padding: 15px;
       position: absolute;
       z-index: 1;
   }
   .menu{
    background-color: rgb(24, 22, 22);
	height: 30%;
	width: 50%;
	position: absolute;
	left: -580px;
	transition: all 0.1s;
    
   }
   .li-ed{
       margin-top:5% ;
   }
  
   #check:checked ~ .menu, .a_li{
       opacity: 1;
       margin-top: 0;
       transition-delay: .1s;
       color: #e0d4d7;
       width: 60%;

   }
   #check:checked ~ .menu{
       transform: translateX(600px);
   }
 
  .ul_header{
       display: block;
       width: 90%;
       position: absolute;
       margin-left: 6%;
   }
   .img-Projeto1{
       width: 80%;
       padding-top: 3%;
       margin-left: 1%;
   }
   .img_portfolio{
       margin-left:3%;
   }
   .div_portfolio, .img_portfolio{
       display: block;
       width: 100%;
       
    }
   
   .a_li:hover{
       color: rgb(250, 250, 250);
   }
   
   #cnt{
       margin-left: -19.5%;

   }
}
    
